 @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lexend:wght@100..900&display=swap');
 @import "tailwindcss";

 * {
   font-family: "Lexend", sans-serif;
   font-weight: 400;
   font-size: medium;
   font-style: normal;
 }

 h1 {
   font-size: 3em;
 }
.h1span{
  font-size:1em;
  font-weight: 550;
}
 body {
   background-color: #e7ecef;
 }

 /* font-family: "DM Serif Text", serif;*/
 ::-webkit-scrollbar {
   display: none;
 }

 @theme {
   --color-primary: #3a5a40;
   --color-secondary: #6a994e;
 }